body{
	font-family:Catamaran, sans-serif;
	font-weight: 400;
	font-size: 18px; 
	line-height:29px
}

h1, h2 {
	font-family: News Cycle;
	
}

h1{
	color: #78a93d;
	font-size:64px;
}

h2 {
 font-size:48px;
}

h3 {
	font-family: News Cycle;
	font-size:30px;
}

a { text-decoration:none; color:#78a93d }

a:hover { color: black;}

#accueil { 
	max-height: 400px;
	border-radius:50%;
}

.carré {
	max-height: 400px;
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:760px) {
	.container {
		width: 600px;
	}
}

@media (max-width:500px) {
	.container {
		width: 400px;
	}
}

@media (max-width:400px) {
	.container {
		width: 300px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.btn-green {
	background-color: #78a93d;
	color:white;
	padding:15px 20px;
	border-radius: 4px;
}

.btn-green:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style-type: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	font-size: 50px;
	color: #78a93d;
}

.container p {
	margin-bottom: 40px;
}